.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  @media (min-width: 481px) {
    .container {
      font-size: x-large; } }

.grid__row {
  padding: 1em 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center; }
  @media (min-width: 768px) {
    .grid__row {
      flex-direction: row; } }
.grid__col--1 {
  margin-top: 10px;
  flex-basis: 100%;
  align-self: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media (min-width: 768px) {
    .grid__col--1 {
      margin-top: 0;
      flex-basis: 8.3333333333 + "%"; } }
  @media (min-width: 768px) and (min-width: 481px) {
    .grid__col--1 {
      flex-wrap: nowrap; } }

.grid__col--2 {
  margin-top: 10px;
  flex-basis: 100%;
  align-self: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media (min-width: 768px) {
    .grid__col--2 {
      margin-top: 0;
      flex-basis: 16.6666666667 + "%"; } }
  @media (min-width: 768px) and (min-width: 481px) {
    .grid__col--2 {
      flex-wrap: nowrap; } }

.grid__col--3 {
  margin-top: 10px;
  flex-basis: 100%;
  align-self: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media (min-width: 768px) {
    .grid__col--3 {
      margin-top: 0;
      flex-basis: 25 + "%"; } }
  @media (min-width: 768px) and (min-width: 481px) {
    .grid__col--3 {
      flex-wrap: nowrap; } }

.grid__col--4 {
  margin-top: 10px;
  flex-basis: 100%;
  align-self: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media (min-width: 768px) {
    .grid__col--4 {
      margin-top: 0;
      flex-basis: 33.3333333333 + "%"; } }
  @media (min-width: 768px) and (min-width: 481px) {
    .grid__col--4 {
      flex-wrap: nowrap; } }

.grid__col--5 {
  margin-top: 10px;
  flex-basis: 100%;
  align-self: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media (min-width: 768px) {
    .grid__col--5 {
      margin-top: 0;
      flex-basis: 41.6666666667 + "%"; } }
  @media (min-width: 768px) and (min-width: 481px) {
    .grid__col--5 {
      flex-wrap: nowrap; } }

.grid__col--6 {
  margin-top: 10px;
  flex-basis: 100%;
  align-self: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media (min-width: 768px) {
    .grid__col--6 {
      margin-top: 0;
      flex-basis: 50 + "%"; } }
  @media (min-width: 768px) and (min-width: 481px) {
    .grid__col--6 {
      flex-wrap: nowrap; } }

.grid__col--7 {
  margin-top: 10px;
  flex-basis: 100%;
  align-self: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media (min-width: 768px) {
    .grid__col--7 {
      margin-top: 0;
      flex-basis: 58.3333333333 + "%"; } }
  @media (min-width: 768px) and (min-width: 481px) {
    .grid__col--7 {
      flex-wrap: nowrap; } }

.grid__col--8 {
  margin-top: 10px;
  flex-basis: 100%;
  align-self: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media (min-width: 768px) {
    .grid__col--8 {
      margin-top: 0;
      flex-basis: 66.6666666667 + "%"; } }
  @media (min-width: 768px) and (min-width: 481px) {
    .grid__col--8 {
      flex-wrap: nowrap; } }

.grid__col--9 {
  margin-top: 10px;
  flex-basis: 100%;
  align-self: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media (min-width: 768px) {
    .grid__col--9 {
      margin-top: 0;
      flex-basis: 75 + "%"; } }
  @media (min-width: 768px) and (min-width: 481px) {
    .grid__col--9 {
      flex-wrap: nowrap; } }

.grid__col--10 {
  margin-top: 10px;
  flex-basis: 100%;
  align-self: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media (min-width: 768px) {
    .grid__col--10 {
      margin-top: 0;
      flex-basis: 83.3333333333 + "%"; } }
  @media (min-width: 768px) and (min-width: 481px) {
    .grid__col--10 {
      flex-wrap: nowrap; } }

.grid__col--11 {
  margin-top: 10px;
  flex-basis: 100%;
  align-self: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media (min-width: 768px) {
    .grid__col--11 {
      margin-top: 0;
      flex-basis: 91.6666666667 + "%"; } }
  @media (min-width: 768px) and (min-width: 481px) {
    .grid__col--11 {
      flex-wrap: nowrap; } }

.grid__col--12 {
  margin-top: 10px;
  flex-basis: 100%;
  align-self: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media (min-width: 768px) {
    .grid__col--12 {
      margin-top: 0;
      flex-basis: 100 + "%"; } }
  @media (min-width: 768px) and (min-width: 481px) {
    .grid__col--12 {
      flex-wrap: nowrap; } }

@media (min-width: 481px) {
  .centered {
    margin-left: 15vw;
    margin-right: 15vw; } }

.grid__col--12.theme__colors {
  background-color: aquamarine;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px; }

.grid__col--6.theme__colors {
  background-color: #00bfff;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px; }

.grid__col--4.theme__colors {
  background-color: #add8e6;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px; }

.grid__col--3.theme__colors {
  background-color: lavender;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px; }

.grid__col--5.theme__colors {
  background-color: green;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px; }

.grid__col--7.theme__colors {
  background-color: red;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px; }

.grid__col--8.theme__colors {
  background-color: orange;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px; }

@media (min-width: 768px) {
  [class^=grid__col] + [class^=grid__col] {
    margin-left: 10px; } }

.btn--default.theme__colors {
  background-color: #bfefff;
  color: white;
  width: 100%;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: 0px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px; }
  @media (min-width: 481px) {
    .btn--default.theme__colors {
      margin-left: 25px; } }

.btn--success.theme__colors {
  background-color: green;
  color: white;
  width: 100%;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: 0px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px; }
  @media (min-width: 481px) {
    .btn--success.theme__colors {
      margin-left: 50px;
      margin-right: 25px; } }

.btn--error.theme__colors {
  background-color: red;
  color: white;
  width: 100%;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: 0px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px; }
  @media (min-width: 481px) {
    .btn--error.theme__colors {
      margin-left: 25px;
      margin-right: 25px; } }

.btn--warning.theme__colors {
  background-color: orange;
  color: white;
  width: 100%;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: 0px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px; }
  @media (min-width: 481px) {
    .btn--warning.theme__colors {
      margin-left: 25px;
      margin-right: 25px; } }

.btn--info.theme__colors {
  background-color: purple;
  color: white;
  width: 100%;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: 0px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px; }
  @media (min-width: 481px) {
    .btn--info.theme__colors {
      margin-left: 25px;
      margin-right: 25px; } }

body {
  font-family: "Helvetica Neue"; }

.blockquote {
  display: block;
  border-left: 5px solid aquamarine;
  font-size: x-large;
  font-style: italic; }

.headline--primary {
  color: aquamarine; }

.headline--secondary {
  width: 100%; }

.link {
  color: deepskyblue; }

.form {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap; }

.form__label--hidden {
  width: 100%;
  margin-top: 20px; }

.form__input {
  width: 100%;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom: 5px aquamarine solid; }

input::placeholder {
  opacity: 0; }

@media (min-width: 481px) {
  .img--logo {
    margin-right: 35vw; } }

.img--avatar {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px; }

.img--frame {
  width: 80%;
  padding: 15px;
  border: 1px black solid;
  margin-right: auto;
  margin-left: auto; }

ul {
  list-style-type: none;
  padding-left: 0px; }
  @media (min-width: 481px) {
    ul {
      display: flex; } }

.nav__item {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center; }

.nav__item a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35vw;
  padding-right: 35vw;
  text-decoration: none;
  background-color: white;
  color: black;
  transition: background-color .5s; }
  @media (min-width: 481px) {
    .nav__item a {
      padding-left: 1vw;
      padding-right: 1vw; } }

.nav__item a:hover {
  background-color: aquamarine;
  color: white;
  border-radius: 10px; }

/*# sourceMappingURL=styles.css.map */
