@mixin flexbox {
  display: flex;
}

@mixin justify-content {
  justify-content: center;
}

@mixin button {
  color: white;
  width: 100%;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
}

@mixin button-mrgn {
  @media (min-width: $desktop-brk) {
    margin-left: 1vw;
    margin-right: 1vw;
  }
}

@mixin grid-spc {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

@mixin dsk-top (min-width: $desktop-brk) {
  @content;
}
