@mixin button {
  color: white;
  width: 100%;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: 0px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  @media (min-width: $desktop-brk) {
    width: 15vw;
  }
}

@mixin button-mrgn {
  @media (min-width: $desktop-brk) {
    margin-left: 1vw;
    margin-right: 1vw;
  }
}

@mixin center {
  margin-right: auto;
  margin-left: auto;
}

@mixin grid-spc {
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@mixin nav-pad {
  padding-top: 10px;
  padding-bottom: 10px;
}
