//button theme colors
.btn--default.theme__colors {
  background-color: $default-color;
  @include button;
  @include dsk-top {
    margin-left: 1vw;
    margin-right: 1vw;
  }
}

.btn--success.theme__colors {
  background-color: $success-color;
  @include button;
  @include dsk-top {
    margin-left: 1vw;
    margin-right: 1vw;
  }
}

.btn--error.theme__colors {
  background-color: $error-color;
  @include button;
  @include button-mrgn;
}

.btn--warning.theme__colors {
  background-color: $warning-color;
  @include button;
  @include button-mrgn;
}

.btn--info.theme__colors {
  background-color: $info-color;
  @include button;
  @include button-mrgn;
}
