//button theme colors
.btn--default.theme__colors {
  background-color: #bfefff;
  @include button;
  @media (min-width: $desktop-brk) {
    margin-left: 1vw;
    margin-right: 1vw;
  }
}

.btn--success.theme__colors {
  background-color: green;
  @include button;
  @media (min-width: $desktop-brk) {
    margin-left: 1vw;
    margin-right: 1vw;
  }
}

.btn--error.theme__colors {
  background-color: red;
  @include button;
  @include button-mrgn;
}

.btn--warning.theme__colors {
  background-color: orange;
  @include button;
  @include button-mrgn;
}

.btn--info.theme__colors {
  background-color: purple;
  @include button;
  @include button-mrgn;
}
