
.form {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.form__label--hidden {
  width: 100%;
  margin-top: 20px;
}

.form__input {
  width: 100%;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom: 5px aquamarine solid;
}

input::placeholder {
  opacity: 0;
}
