// **********************************************
// _grid.scss
// styles related to the grid system and
// main container.
// major grid styles have been added here for you
// but additional styling may be needed
// **********************************************

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
  font-family: $font-stack;
  @media (min-width: 768px) {
  font-size: x-large;
  }
}

// grid base class
.grid {

  // .grid__row
  &__row {
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;

    // NOTE: replace with media query mixin if aiming for exceeds
    @media (min-width: $desktop-brk) {
      flex-direction: row;
    }
  }

  // .grid__col
  &__col {

    // create grid columns dynamically
    // loop through each column size
    @for $i from 1 through 12 {

      // concatenate CSS selector, ie when $i = 1,
      // selector would be .grid__col--1
      &--#{$i} {

        // base styles applied to all grid columns
        // NOTE: could be converted to a placeholder, along with margin
        // from the  media query
        margin-top: 10px;
        flex-basis: 100%;
        align-self: center;
        border-radius: 5px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        // NOTE: replace with media query mixin if aiming for exceeds
        @media (min-width: 768px) {

          // base stlyes applied to all grid columns
          margin-top: 0;

          // make column width a percentage of the column number / total columns
          flex-basis: #{$i / 12 * 100} + "%";
          @media (min-width: $desktop-brk) {
            flex-wrap: nowrap;
          }
        }
      }
    }
  }
}

.grid__col--3 {
  //background-color: lavender;
  @include grid-spc;
@media (min-width: $desktop-brk) {
  flex-basis: 23vw;
  flex-grow: 1;
  }

  &.theme__colors {
    background-color: #CC99CC;
    justify-content: flex-start;
    @media (min-width: $desktop-brk) {
      justify-content: center;
    }
  }
}

.grid__col--4 {
  //background-color: #add8e6;
  @include grid-spc;
@media (min-width: $desktop-brk) {
  flex-basis: 31vw;
  flex-grow: 1;
  align-self: flex-start;
  }

  &.theme__colors {
    background-color: #66CCFF;
    justify-content: flex-start;
    @media (min-width: $desktop-brk) {
      justify-content: center;
    }
  }
}

.grid__col--5 {
  //background-color: green;
  @include grid-spc;
@media (min-width: $desktop-brk) {
  flex-basis: 31vw;
  flex-grow: 1;
  }

  &.theme__colors {
    background-color: #66CC99;
    justify-content: flex-start;
    @media (min-width: $desktop-brk) {
      justify-content: center;
    }
  }

}

.grid__col--6 {
  //background-color: #00bfff;
  @include grid-spc;@media (min-width: $desktop-brk) {
  flex-basis: 47vw;
  flex-grow: 1;
  }

  &.theme__colors {
    background-color: #3399CC;
    justify-content: flex-start;
    @media (min-width: $desktop-brk) {
      justify-content: center;
    }
  }

}

.grid__col--7 {
  //background-color: red;
  @include grid-spc;
@media (min-width: $desktop-brk) {
  flex-basis: 55vw;
  flex-grow: 2;
  }

  &.theme__colors {
    background-color: #FF9999;
    justify-content: flex-start;
    @media (min-width: $desktop-brk) {
      justify-content: center;
    }
  }
}

.grid__col--8 {
  //background-color: orange;
  @include grid-spc;
  @media (min-width: $desktop-brk) {
    flex-basis: 60vw;
  }

  &.theme__colors {
    background-color: #FF9966;
    justify-content: flex-start;
    @media (min-width: $desktop-brk) {
      justify-content: center;
    }
  }
}

.grid__col--9 {
@media (min-width: $desktop-brk) {
  justify-content: flex-end;
  flex-basis: 60vw;
  }
}

.grid__col--12 {
  width: 100%;
  flex-grow: 1;
  //background-color: $hover-color;
  @include grid-spc;

&.theme__colors {
  background-color: #99FFCC;
  justify-content: flex-start;
  @media (min-width: $desktop-brk) {
    justify-content: center;
  }
  }
}

.centered {
@media (min-width: $desktop-brk) {
  margin-left: 15vw;
  margin-right: 15vw;
}

// targets all elements with classes that begin with grid__col
[class^=grid__col] {
  // grid__col + grid__col, targets two sibling columns
  & + & {

    // NOTE: replace with media query mixin if aiming for exceeds
    @media (min-width: 768px) {

      // add grid gutter
      margin-left: 10px;
    }
  }
}
}
