// **********************************************
// _grid.scss
// styles related to the grid system and
// main container.
// **********************************************
// container styles
.container {
  @include flexbox;
  flex-wrap: wrap;
  @include justify-content;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
  font-family: $font-stack;
  @include dsk-top {
  font-size: x-large;
  }
}

// grid base class
.grid {

  // .grid__row
  &__row {
    padding-top: 1em;
    padding-bottom: 1em;
    @include flexbox;
    flex-direction: column;
    width: 100%;
    align-self: center;

    // NOTE: replace with media query mixin if aiming for exceeds
    @include dsk-top {
      flex-direction: row;
    }
  }

  // .grid__col
  &__col {

    // create grid columns dynamically
    // loop through each column size
    @for $i from 1 through 12 {

      // concatenate CSS selector, ie when $i = 1,
      // selector would be .grid__col--1
      &--#{$i} {

        // base styles applied to all grid columns
        // NOTE: could be converted to a placeholder, along with margin
        // from the  media query
        margin-top: 10px;
        flex-basis: 100%;
        align-self: center;
        border-radius: 5px;
        width: 100%;
        @include flexbox;
        flex-wrap: wrap;
        @include justify-content;

        // NOTE: replace with media query mixin if aiming for exceeds
        @include dsk-top {

          // base stlyes applied to all grid columns
          margin-top: 0;

          // make column width a percentage of the column number / total columns
          flex-basis: #{$i / 12 * 100} + "%";
          @include dsk-top {
            flex-wrap: nowrap;
          }
        }
      }
    }
  }
}

.grid__col--3 {
  @include grid-spc;
@include dsk-top {
  flex-basis: 23vw;
  flex-grow: 1;
  }

  &.theme__colors {
    background-color: $col3-color;
    justify-content: flex-start;
    @include dsk-top {
      @include justify-content;
    }
  }
}

.grid__col--4 {
  @include grid-spc;
@include dsk-top {
  flex-basis: 31vw;
  flex-grow: 1;
  align-self: flex-start;
  }

  &.theme__colors {
    background-color: $col4-color;
    justify-content: flex-start;
    @include dsk-top {
      @include justify-content;
    }
  }
}

.grid__col--5 {
  @include grid-spc;
@include dsk-top {
  flex-basis: 31vw;
  flex-grow: 1;
  }

  &.theme__colors {
    background-color: $col5-color;
    justify-content: flex-start;
    @include dsk-top {
      @include justify-content;
    }
  }

}

.grid__col--6 {
  @include grid-spc;
  @include dsk-top {
  flex-basis: 47vw;
  flex-grow: 1;
  }

  &.theme__colors {
    background-color: $col6-color;
    justify-content: flex-start;
    @include dsk-top {
      @include justify-content;
    }
  }

}

.grid__col--7 {
  @include grid-spc;
@include dsk-top {
  flex-basis: 55vw;
  flex-grow: 2;
  }

  &.theme__colors {
    background-color: $col7-color;
    justify-content: flex-start;
    @include dsk-top {
      @include justify-content;
    }
  }
}

.grid__col--8 {
  @include grid-spc;
  @include dsk-top {
    flex-basis: 60vw;
  }

  &.theme__colors {
    background-color: $col8-color;
    justify-content: flex-start;
    @include dsk-top {
      @include justify-content;
    }
  }
}

.grid__col--9 {
@include dsk-top {
  justify-content: flex-end;
  flex-basis: 60vw;
  }
}

.grid__col--12 {
  width: 100%;
  flex-grow: 1;
  @include grid-spc;

&.theme__colors {
  background-color: $col12-color;
  justify-content: flex-start;
  @include dsk-top {
    @include justify-content;
  }
  }
}

.centered {
@include dsk-top {
  margin-left: 15vw;
  margin-right: 15vw;
}

// targets all elements with classes that begin with grid__col
[class^=grid__col] {
  // grid__col + grid__col, targets two sibling columns
  & + & {

    // NOTE: replace with media query mixin if aiming for exceeds
    @include dsk-top {

      // add grid gutter
      margin-left: 10px;
    }
  }
}
}
