
.img--logo {
  @include dsk-top {
  padding-left: 5vw;
  }
}

.img--avatar {
  @extend %center;
}

.img--frame {
  padding: 15px;
  border: 1px black solid;
  @extend %center;
  //@include center;
  width: 80%;
  height: 80%;
  max-width: 300px;
}
