
.img--logo {
  @media (min-width: 481px) {
    margin-right: 35vw;
  }
}

.img--avatar {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
}

.img--frame {
  width: 80%;
  padding: 15px;
  border: 1px black solid;
  margin-right: auto;
  margin-left: auto;
}
