
body {
  font-family: $font-stack;
}

.blockquote {
  display: block;
  border-left: 5px solid $hover-color;
  font-size: x-large;
  font-style: italic;
}

.headline--primary {
  color: $hover-color;
}

.headline--secondary {
  width: 100%;
}

.link {
  color: deepskyblue;
}
